@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using DTO
@model UserDTO

@{
    if (Model != null)
    {
    <div class="row justify-content-center">

            <partial name="~/Views/Shared/Message.cshtml" />

                    <div class="col-4 my-4">
                        <img class="card-size-250" src=@Url.Content(null) alt="Card image"> <!--card-img-size-50-->
                    </div>

                    <div class="col-4 my-4">
                        <div class="card border-primary">
                            <div class="card-body">
                                <h4 class="card-title">@Model.Username</h4>
                                <p class="card-text">Price : @Model.Password</p>
                            </div>
                        </div>
                    </div>
                    <a asp-controller="Admin" asp-action=""></a>
    </div>
    }

    
}

