admin
@using DTO
@model PagedResponseDTO<UserDTO>



    @{
    Layout = "_Layout";
    }
    
    <head>
        <style>
            table{
                width:100px;
                margin:150px 150px;
            }
        table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
                        }
    th, td {
     background-color: #96D4D4;
     text-align:center; 
     padding:15px 15px;
    }
</style>
</head>


    <div class="row justify-content-md-center">
        <div class="col col-md-auto">
            <ul class="list-group bg-white list-group-horizontal">
            <li class="list-group-item list-group-item-secondary">
                <a class="text-decoration-none" asp-action="GetUsers" asp-route-order="@ViewBag.NameSort">Name</a>
            </li>
            </ul>
        </div>
    </div>
<table>

     <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Username</th>
    <th><span>Configure</span></th>
  </tr>

    @{
        foreach (var item in Model.Values)
        {
           
             <tr>
                <td><span>   @item.Name</span></td>
                <td><span>   @item.Surname</span></td>
                <td><span>   @item.Username</span></td>
                <td>
              <form method="post"   asp-area="" asp-controller="Admin" asp-action="DeleteUser" asp-route-id=@item.Id>
                 <button type="submit" style="width:75px" class="btn btn-outline-fail"  >
                                    <i class="fa fa-remove	" aria-hidden="true"></i>
                                </button>
            </form>
            <form method="get" asp-area="" asp-controller="Admin" asp-action="EditUserPage" asp-route-id=@item.Id>  
            <button type="submit" style="width:75px" class="btn btn-outline-fail" >
                                    <i class="fa fa-edit	" aria-hidden="true"></i>
                                </button>
            </form>
            </td>
            </tr>
        }


    }

</table>