@using DTO
@using System.Security.Claims
@using Services.Abstract 
@inject UserDTO user

@inject IUserService _userService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>Presentation</b></a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="GetAll"><b>Products</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="GetCart"><b><i class="fas fa-shopping-cart" style="font-size:17px;"></i></b>
                          <span class="badge bg-secondary">
                                @_userService.GetCartCount(user.Id)    
                            </span>
                            </a>
                        </li>
                    </ul>
            <span>
                    @{
                            var name = User.Claims.Where(x => x.Type == "Name").Select(x => x.Value).FirstOrDefault();
                            var surname= User.Claims.Where(x => x.Type == ClaimTypes.Surname).Select(x => x.Value).FirstOrDefault();
                            // var surname2 = User.FindFirst(x => x.Type == ClaimTypes.Surname).Value; // daha qisa

                            string nameS = char.ToUpper(name[0]) + name.Substring(1);
                            string surnameS= char.ToUpper(surname[0]) + surname.Substring(1);
                            <a style="font-size:20px;color:white"><i class="fas fa-user"></i> @nameS @surnameS</a>
                      }
            </span>
                    <a class="nav-link text-light btn btn-danger fa fa-user-circle" asp-area="" asp-controller="Login" asp-action="SignOut" style="margin-left:5px;">Sign Out</a>

                </div>
            </div>
        </nav>

         
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
